:root {
  --bg-main: #0b0b0b;
  --bg-secondary: #121212;
  --card-bg: #181818;

  --bordo: #5a0f1a;
  --gold: #d4af37;

  --text-main: #eaeaea;
}

body {
  background: var(--bg-main);
  color: var(--text-main);
}

header {
  background: var(--bg-secondary);
  border-bottom: 2px solid var(--bordo);
}

.producto {
  background: var(--card-bg);
  border: 1px solid var(--bordo);
}

.producto:hover {
  border-color: var(--gold);
}

input {
  background: #1b1b1b;
  color: var(--text-main);
  border: 2px solid var(--bordo);
}

.wtsp-float {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);

  background: #25D366;
  color: #fff;

  padding: 26px 40px;
  font-size: 22px;
  font-weight: 700;

  border-radius: 80px;
  text-decoration: none;

  box-shadow: 0 20px 40px rgba(0,0,0,.7);
  z-index: 9999;

  display: flex;
  align-items: center;
  gap: 12px;
}
